td{
padding: 1%;
width:20%;
}
table{
  margin-top: 3%;
  margin-right: 4%;
  margin-left: 4%;
}

h1{
text-align: center;
margin: auto;
margin-top: 2%;
margin-bottom: 4%;
}
.contact{

  margin-top: 3%;
}
img{

text-align: center;
margin: auto;
width:34%;
}
p{
  line-height: 1.35em;
  font-size: 120%;
  text-align: center;
margin: auto;
width: 60%;
}
ul {
  list-style-type: none;
  overflow: hidden;
  background-color: black;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  padding: 13px;
  text-decoration: none;
}
