
body {
  background-image: url("frayedknotarts.png");
  
  
}

form {
  
  padding-top: 0.5em;
}


h1 {  
  text-align: center;
  font-size: 3em; 
  line-height: 1.3em;
}

button{
	width: 100px;
	text-align:center;
}